<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="admin/layout :: head"></head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="admin/layout :: nav ('album','null')">
    </nav>
    <!-- suspend -->
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">欢迎登录</span>
                    </li>
                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i>退出
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <h2 th:text="${info.name}">冬去春又至</h2>
                            <p th:text="${info.intro}">
                                寒冷而漫长的冬天终于过去了，春天的第一缕暖阳照耀大地万物生机。闻着春天的气息，感受到了春天的惬意。一年之计在于春，春天代表着希望，代表着生机。同样的春天，同样的季节，又有多少脆弱的生命经不起寒冬的考验，等不到春天的第一缕暖阳。季节在不停的循环，生命却无法紧跟季节的脚步。我们唯一能做的就是在有限的生命中无限的努力和付出用胜利来诠释我们存在的价值。
                            </p>
                            <div class="lightBoxGallery">
                                <a th:each="list,iterStat : ${lists}" th:href="${list.link}" title="Image from Unsplash"
                                   data-gallery=""><img th:src="${list.link}"/></a>
                                <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                                <div id="blueimp-gallery" class="blueimp-gallery">
                                    <div class="slides"></div>
                                    <h3 class="title"></h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="small-chat">
            <!-- <span class="badge badge-warning pull-right">5</span> -->
            <a class="open-small-chat" data-toggle="modal" data-target="#addAlbum">
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <!-- modal -->
        <div class="modal inmodal fade" id="addAlbum" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title">上传图片</h4>
                    </div>
                    <div class="modal-body">
                        <!-- Dropzone -->
                        <form action="http://www.me/anm-front/uploads.php" class="dropzone" id="dropzone"></form>
                        <!-- Dropzone -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function editAlbum(id) {
        console.log(id)
        $('#editAlbum').modal("show");
    }
</script>
<div th:include="admin/layout :: script"></div>
<script th:src="@{/js/plugins/blueimp/jquery.blueimp-gallery.min.js}"></script>
<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>
<!-- dropzone -->
<script th:src="@{/js/plugins/dropzone/dropzone.js}"></script>
</body>

</html>
