<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="admin/layout :: head (${sys_info.site_name})"></head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="admin/layout :: nav ('album','tag')">
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">欢迎登录</span>
                    </li>
                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i>退出
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>标签管理</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="table_basic.html#">Config option 1</a>
                                    </li>
                                    <li><a href="table_basic.html#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-5 m-b-xs">
                                </div>
                                <div class="col-sm-4 m-b-xs">
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <input type="text" placeholder="标签名称" id="tag-name"
                                               class="input-sm form-control"/> <span
                                            class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"
                                                onclick="addTag()">新增</button> </span></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>标签ID</th>
                                        <th>标签名称</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="list,iterStat : ${lists}">
                                        <td th:text="${list.id}">1</td>
                                        <td th:text="${list.name}">默认</td>
                                        <td th:text="${#dates.format(list.created,'yyyy/MM/dd HH:mm')}">Jul 14, 2013
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-white btn-xs" type="button">编辑</button>
                                                <button class="btn btn-primary btn-xs" type="button">删除</button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="admin/layout :: footer (${sys_info.copy_right},${sys_info.icp},${sys_info.count_code})"></div>
    </div>
</div>
<div th:include="admin/layout :: script"></div>
<script>
    function addTag() {
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/api/album/tag/add",
            data: {name: $("#tag-name").val()},
            success: function (data) {
                if (data.ret == 200) {
                    window.location.reload();
                }else{
                    alert("添加失败！");
                }
            }
        });
    }
</script>
</body>

</html>
