<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="admin/layout :: head (${sys_info.site_name})"></head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="admin/layout :: nav ('user','null')">
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">欢迎登录</span>
                    </li>
                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i>退出
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-4" th:each="list,iterStat : ${lists}">
                    <div class="contact-box">
                        <a href="#">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" th:src="${list.avatar}"/>
                                    <div class="m-t-xs font-bold"></div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong th:text="${list.name}">John Smith</strong></h3>
                                <p><i class="fa fa-map-marker"></i>&nbsp;<span th:text="${list.address}"></span></p>
                                <address>
                                    <p th:text="${#dates.format(list.created,'yyyy/MM/dd HH:mm')} + '注册'"></p>
                                    <p title="Phone" th:text="'电话：' + ${list.phone}">P:</p>
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="admin/layout :: footer (${sys_info.copy_right},${sys_info.icp},${sys_info.count_code})"></div>
    </div>
</div>
<div th:include="admin/layout :: script"></div>
</body>

</html>
